@font-face {
    font-family: Verdana;
    src: url(./assets/fonts/verdana-webfont.woff);
}

*{
    font-family: Verdana,sans-serif;
    font-size: 15px;
    line-height: 1.5;
    
}

header{
    padding: 8px 16px;
    background-color: white;
    display: flex;
    justify-content: space-between;
    width: 100%;
    position: fixed;
    left: 0;
    top: 0;
    box-shadow: 0 2px 5px 0 rgb(0 0 0 / 16%), 0 2px 10px 0 rgb(0 0 0 / 12%);
    z-index: 1;
}
.menue{
    color: black;
    padding: 8px 16px;
    text-decoration: none;
    letter-spacing: 4px;
    height: 100%;
}
.menues{
    display: flex;
    justify-content: center;
}

.head-img{
    max-width: 1500px;
    width: 100%;
    position: relative;
    z-index: -1;
}
.header{

    color: white;
    letter-spacing: 4px;
    font-family: "Segoe UI",Arial,sans-serif;
    font-weight: 400;
    font-size: 36px;
}
.centered-axis-xy {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
}
.br{
    color: white;
    letter-spacing: 4px;
    height: 100%;
    font-family: "Segoe UI",Arial,sans-serif;
    font-weight: 400;
    font-size: 36px;
    padding: 8px 16px;
    background-color: #000;

}
h4{
    font-family: "Segoe UI",Arial,sans-serif;
    font-weight: 400;
    line-height: 1.5;
    margin: 0 !important;
    padding: 16px 0;

}
h3{
    padding: 10px 0;
    margin: 0 !important;
}
h5{
    padding: 15px 0;
    margin: 0 !important;
    opacity: 0.60;
    
}
.contact-btn{
    background-color: #f1f1f1;
    text-decoration: none;
    color: black;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 8px 16px;
    
}
input{
    padding: 8px;
}

.send-btn{
    background-color: #000;
    color: white;
    padding: 8px 16px !important;
    text-transform: uppercase;
    text-decoration: none;
}
a:hover{
    background-color: #cfcfcf;
}
a{
    cursor: pointer;
}

#head-descr{
    font-size: 36px!important;
    font-family: "Segoe UI",Arial,sans-serif;
    font-weight: 400;
    text-align: center!important;
    line-height: 1.5;
    letter-spacing: 4px;
}

@media (max-width: 768px) {
    .menues{
        display: none;
    }
    #head-descr{
        display: none;
    }
}

@media (max-width: 992px) {
    .head-img{
        padding-top: 55px;
    }

}
